<a href="https://colab.research.google.com/github/Ambrose70/My-first-project/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, we provide a summary of data science and ecosystem.

Some of the data science languages commonly used include;


1.   Python
2.   R language
3.   Java, Among others

There are three main libraries in Data Science. These includes;



1.   Pandas
2.   Numpy
3.   Matplotlib
4.   TensorFlow

# Arithmatic expression examples

Bellow are some arithmatic examples

# Converting Min into hours

To convert Min to hours we use the code below that  will divide 200min by 60 min to get hours

In [ ]:
# prompt: code to convert 200min to hours

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

# Code to multiply and add number

This simple arithmatic add and then subtract simple integers

In [ ]:
# prompt: code to multiple 3 and 4 then add 5

# Multiply 3 and 4, then add 5
result = (3 * 4) + 5
result